:root {
  --cor-button: #ffffff;
  --cor-principal: #40e0d0;
  --cor-secundaria: #000;
  --cor-fundo: #1b1818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  list-style: none;
}

body {
  padding-bottom: 120px;
  background-color: var(--cor-fundo);
  color: var(--cor-principal) ;
  text-align: center;
 
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 80%;
  }
}
